/*-----------------------------------*\
  #style.css
\*-----------------------------------*/



/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  --hoockers-black_20: hsla(0, 0%, 0%, 0.2);
  --jet: hsl(0, 0%, 16%);
  --hoockers-black: hsl(0, 0%, 0%);
  --spanish-gray: hsl(0, 0%, 61%);
  --light-gray: hsl(0, 0%, 80%);
  --cultured-1: hsl(0, 0%, 97%);
  --cultured-2: hsl(60, 6%, 93%);
  --gray-web: hsl(0, 0%, 49%);
  --white_30: hsl(0, 0%, 100%, 0.3);
  --white_70: hsl(0, 0%, 100%, 0.7);
  --white_95: hsl(0, 0%, 100%, 0.95);
  --black_70: hsla(0, 0%, 0%, 0.7);
  --black_50: hsla(0, 0%, 0%, 0.5);
  --black_15: hsla(0, 0%, 0%, 0.15);
  --black_10: hsla(0, 0%, 0%, 0.1);
  --black_5: hsla(0, 0%, 0%, 0.05);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --red: hsl(0, 100%, 50%);
  /* gredients */

  --gradient: linear-gradient(to right, transparent 50%, var(--white_30) 100%);
  --gradient-1: linear-gradient(180deg, hsl(148, 20%, 38%) 0%, hsl(60, 68%, 85%) 100%);

  /* typography */
  --ff-cairo: 'Cairo', sans-serif;

  --fs-1: 4.8rem;
  --fs-2: 4rem;
  --fs-3: 3.4rem;
  --fs-4: 2.4rem;
  --fs-5: 2rem;
  --fs-6: 1.8rem;
  --fs-7: 1.5rem;
  --fs-8: 1.4rem;
  --fs-9: 1.3rem;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  /* spacing */
  --section-padding: 35px;

  /* shadow */
  --shadow-1: 0 8px 16px var(--black_15);
  --shadow-2: 0 4px 10px var(--black_5);

  /* border radius */
  --radius-3: 3px;

  /* transition */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 1s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}


/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
button,
input,
select,
ion-icon,
i {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

button,
input {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
  --ionicon-stroke-width: 25px;
}

i {
  pointer-events: none;
  --fontawesome-stroke-width: 25px;
}

html {
  font-family: var(--ff-cairo);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--cultured-1);
  font-size: 1.6rem;
  color: var(--gray-web);
  font-weight: var(--fw-500);
  line-height: 1.6;
}

:focus-visible {
  outline-offset: 4px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--white);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--white_95);
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 15px;
}

.section {
  padding-block: var(--section-padding);
}

.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.h1,
.h2,
.h3,
.h2-large {
  color: var(--black);
  font-weight: var(--fw-600);
  line-height: 1.3;
}

.h1 {
  font-size: var(--fs-1);
  line-height: 1.2;
}

.h2 {
  font-size: var(--fs-3);
}

.h2-large {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-4);
}

.btn {
  font-weight: var(--fw-600);
  max-width: max-content;
  padding: 15px 30px;
  border-radius: var(--radius-3);
  transition: var(--transition-1);
}

.btn-primary {
  background-color: var(--black);
  color: var(--white);
}

.btn-primary,
.btn-secondary:is(:hover, :focus) {
  background-color: var(--black);
  color: var(--white);
}

.btn-primary:is(:hover, :focus) {
  background-color: var(--jet);
}

.btn-secondary {
  background-color: var(--white);
  color: var(--black);
  box-shadow: var(--shadow-2);
}

.has-scrollbar {
  display: flex;
  /* gap: 15px; */
  overflow-x: auto;
  padding-block-end: 5px;
  margin-block-end: -5px;
  scroll-snap-type: inline mandatory;
}

.scrollbar-item {
  min-width: 100%;
  scroll-snap-type: start;
}

.has-scrollbar::-webkit-scrollbar {
  height: 5px;
}

.has-scrollbar::-webkit-scrollbar-track,
.has-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.has-scrollbar:is(:hover, :focus-within)::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}

.has-scrollbar:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 70%);
}

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  content: "";
  position: absolute;
}

.hover\:shine {
  overflow: hidden;
}

.hover\:shine .has-bg-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: var(--transition-2);
}

.hover\:shine:is(:hover, :focus-within) .has-bg-image {
  transform: scale(1.15);
}

.hover\:shine::before {
  top: 0;
  left: -140%;
  bottom: 0;
  width: 100%;
  background-image: var(--gradient);
  transform: skewX(-25deg);
  transition: var(--transition-2);
  z-index: 1;
}

.hover\:shine:is(:hover, :focus-within)::before {
  animation: shine 1s ease forwards;
}

@keyframes shine {
  0% {
    transform: skewX(-25deg) translateX(0);
  }

  100% {
    transform: skewX(-25deg) translateX(250%);
  }
}

.btn-link {
  color: var(--black);
  font-weight: var(--fw-600);
  display: flex;
  align-items: center;
  gap: 5px;
  transition: var(--transition-1);
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--black);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge {
  max-width: max-content;
  background-color: var(--jet);
  color: var(--white);
  font-weight: var(--fw-600);
  padding-inline: 12px;
  border-radius: var(--radius-3);

}

.got-after {
  position: relative;
  z-index: 1;
  border-inline: 2px solid var(--black);
  padding-inline: 20px;
}

.title-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: fit-content;
  margin-inline: auto;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  margin-block-end: 50px;
  cursor: default;
}

.grid-list {
  display: grid;
  align-items: center;
  gap: 30px;
}

.w-100 {
  width: 100%;
}

[data-section]>* {
  opacity: 0;
  transform: translateY(100px);
  transition: var(--transition-3);
}

[data-section].active>* {
  opacity: 1;
  transform: translateY(0);
}






/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/
.header .input-wrapper,
.header-action-btn:not(:first-child),
.navbar {
  display: none;
}

.header {
  position: relative;
  padding-block-end: 80px;
}

.alert {
  background-color: var(--black);
  color: var(--white);
  font-size: var(--fs-7);
  text-transform: uppercase;
  font-weight: var(--fw-400);
  text-align: center;
  padding-block: 15px;
}

.alert span {
  display: inline-block;
  color: var(--red);
  font-weight: var(--fw-600);
}

.header-top {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  background-color: var(--white);
  padding-block: 16px;
  z-index: 4;
}

.header-top.active {
  position: fixed;
  top: -92px;
  bottom: auto;
  box-shadow: var(--shadow-1);
  transform: translateY(100%);
  transition: var(--transition-2);
}

.header-top.header-hide {
  box-shadow: none;
  transform: translateY(0);
}

.header-top .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-open-btn {
  width: 26px;
  display: grid;
  gap: 6px;
  padding-block: 5px;
}

.nav-open-btn .line {
  height: 2px;
  background-color: var(--black);
}

.nav-open-btn .line-1 {
  width: 15px;
}

.nav-open-btn .line-3 {
  width: 18px;
}

.header-action-btn {
  position: relative;
  font-size: 28px;
}

.header-action-btn:hover {
  scale: 1.1;
}

.header-action-btn:focus {
  scale: 1.1;
}

/*-----------------------------------*\
  #MOBILE NAVBAR
\*-----------------------------------*/
.sidebar {
  z-index: 5;
}

.mobile-navbar {
  background-color: var(--white);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  max-width: 350px;
  width: 100%;
  padding: 26px 40px;
  /* overflow-y: auto; */
  z-index: 6;
  transform: translateX(100%);
  visibility: hidden;
  transition: 0.25s var(--cubic-in);
}

.mobile-navbar.active {
  transform: translateX(0);
  visibility: visible;
  transition: 0.5s var(--cubic-out);
}

.mobile-navbar.scroll {
  top: 0;
}

.mobile-navbar .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-end: 26px;
  /* padding-block-end: 55px;  */
}

.nav-close-btn {
  font-size: 28px;
  color: var(--hoockers-black);
}

.mobile-navbar .navbar-link {
  color: var(--black);
  font-weight: var(--fw-600);
  padding-block: 8px;
  transition: var(--transition-1);
}

.mobile-navbar .navbar-link:hover {
  color: var(--black_70);
}

.mobile-navbar .navbar-link:focus {
  color: var(--black_70);
}

.overlay {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
}

.overlay.active {
  background-color: var(--black_50);
  opacity: 1;
  pointer-events: all;
}


/*-----------------------------------*\
  #Landing
\*-----------------------------------*/

.landing {
  padding-block-start: 0;
}

.landing-card {
  background-color: var(--light-gray);
  padding: 100px 15px;
  background-position: 40% right;
  max-height: 570px;
}

.middle {
  visibility: hidden;
}

.landing-text {
  font-size: var(--fs-6);
  margin-block: 16px 30px;
  color: var(--white);
  max-width: 260px;
}

.landing .price {
  color: var(--black);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  margin-block-end: 20px;
}

.price span {
  display: inline;
  color: var(--white);
}

.landing .has-scrollbar {
  gap: 0;
}

/*-----------------------------------*\
  #COLLECTION
\*-----------------------------------*/

.collection {
  padding-block-start: 0;
}

.collection-list {
  display: grid;
  gap: 15px;
}

.collection-card {
  background-color: var(--light-gray);
  min-height: 400px;
  padding: 40px;
  padding-block-end: 30px;
  display: flex;
  flex-direction: column;
}

.collection-card .card-title {
  margin-block-end: 10px;
  color: var(--black);

}

.collection-card .card-text {
  color: var(--black);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  margin-block-end: auto;
}



/*-----------------------------------*\
  #SHOP
\*-----------------------------------*/

.shop .btn-link {
  color: var(--black);
  text-align: center;
  font-weight: var(--fw-600);
}

.shop .btn-link:is(:hover, :focus) {
  color: var(--black_70);
}

.shop-card .card-banner {
  position: relative;
  overflow: hidden;
}

.shop-card .badge {
  position: absolute;
  top: 20px;
  left: 20px;
}

.shop-card .card-actions {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  display: grid;
  gap: 10px;
  opacity: 0;
  transition: var(--transition-2);
}

.shop-card .card-actions .action-btn {
  background-color: var(--white);
  font-size: 24px;
  padding: 12px;
  border-radius: 50%;
  transition: var(--transition-1);
}

.shop-card .action-btn:is(:hover, :focus) {
  background-color: var(--black);
  color: var(--white);
}

.shop-card:is(:hover, :focus-within) .card-actions {
  opacity: 1;
  transform: translate(-20px, -50%);
}

.shop-card .card-content {
  padding-block: 20px;
  text-align: center;
}

.price span.span {
  color: var(--black_70);
}

.shop-card :is(.price, .card-rating, .card-wrapper) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.shop-card .del {
  font-size: var(--fs-9);
  font-weight: var(--fw-400);
}

.shop-card .price .span {
  color: var(--black);
  font-weight: var(--fw-700);
}

.shop-card .card-title {
  color: var(--black);
  font-weight: var(--fw-500);
  font-size: var(--fs-7);

  margin-block-end: 8px;
  transition: var(--transition-1);
  width: fit-content;
  margin-inline: auto;
}

.shop-card .card-title:is(:hover, :focus) {
  text-decoration: underline;
  color: var(--jet);
}

.shop-card .rating-wrapper {
  gap: 2px;
  color: var(--jet);
  font-size: 15px;
}

.shop-card .rating-text {
  font-size: var(--fs-8);
  font-weight: var(--fw-400);
  line-height: 1;
}

.has-scrollbar {
  gap: 15px;
}

/*-----------------------------------*\
  #BANNER
\*-----------------------------------*/

.banner-list {
  display: grid;
  gap: 30px;
}

.banner-card {
  min-height: 420px;
  padding: 30px;
}

.banner-card .li-1 {
  background-position: right;
}

.banner-card .li-2 {
  background-position: 70%;
}

.banner-card .card-subtitle {
  color: var(--black);
  font-weight: var(--fw-600);
  font-size: var(--fs-6);
  text-transform: uppercase;
  /* letter-spacing: 2px; */
}

.banner-card :is(.card-title, .card-subtitle) {
  text-shadow: 0 0 2px var(--black);
}

.banner-card-1 .card-title {
  margin-block: 10px 30px;
  color: var(--black);
}

.banner-card .card-text {
  color: var(--white);
  font-size: var(--fs-7);
  margin-block: 10px 25px;
}

/*-----------------------------------*\
  #FEATURE
\*-----------------------------------*/


.features {
  text-align: center;
}

.features .section-title {
  margin-block-end: 40px;
}

.features i {
  font-size: 80px;
  color: var(--jet);
  margin-inline: auto;
}

.feature-card .card-title {
  margin-block: 35px 15px;
}

.feature-card .card-text {
  font-size: var(--fs-7);
}





/*-----------------------------------*\
  #OFFER
\*-----------------------------------*/

.offer-banner {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  align-items: center;
  gap: 30px;
  margin-block-end: 60px;
}

.offer-subtitle {
  font-size: var(--fs-7);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

.offer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.offer-subtitle .span {
  color: var(--black);
  text-transform: uppercase;
  font-weight: var(--fw-600);
  /* letter-spacing: 2px; */
}

.offer .badge {
  font-weight: var(--fw-500);
}

.offer .section-title {
  margin-block: 20px 8px;
}

.offer .section-text {
  font-size: var(--fs-6);
}

.offer .countdown {
  color: var(--black);
  font-size: var(--fs-2);
  line-height: 1;
  display: flex;
  margin-block: 20px 40px;
  text-align: center;
  justify-content: center;
  gap: 5px;
}

.offer .time {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.offer .time:not(:last-child)::after {
  content: ":";
  color: var(--black_70);
  font-style: 3rem;
  font-weight: var(--fw-500);
  margin-inline: 10px;
}

/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog {
  padding-block-end: calc(var(--section-padding) * 2);
}

.blog .section-title {
  text-align: center;
  margin-block-end: 40px;
}

.blog-card .card-banner img {
  transition: var(--transition-2);
}

.blog-card:is(:hover, :focus-within) .card-banner img {
  transform: scale(1.2);
}

.blog-card .card-title {
  text-align: center;
  margin-block: 30px 5px;
  transition: var(--transition-1);
}

.blog-card .card-title:is(:hover, :focus) {
  color: var(--black_70);
}

.blog-card .btn-link {
  justify-content: center;
}




/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer .logo {
  display: none;
}

.footer {
  background-color: var(--black);
  padding-block: 70px;
}


.footer-top {
  display: grid;
  gap: 40px;
  margin-block-end: 60px;
}

.footer-list-title {
  color: var(--white);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  margin-block-end: 20px;
  width: fit-content;
}

.footer-list-text {
  font-size: var(--fs-8);
  margin-block-end: 5px;
  color: var(--light-gray);
}

.footer .footer-link {
  display: inline-block;
  color: var(--white);
  font-weight: var(--fw-600);
  transition: var(--transition-1);
  color: var(--light-gray);
  font-size: var(--fs-7);
  padding-block: 5px;
}

.footer .footer-link:is(:hover, :focus) {
  color: var(--white_30);
  text-decoration: none;
}

.footer-contact {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--light-gray);
}

.footer-contact a,
.footer-contact i {
  transition: var(--transition-1);
}

.footer-contact:is(:hover, :focus) a,
.footer-contact:is(:hover, :focus) i {
  color: var(--white_30);
  text-decoration: none;
}

.footer-contact i {
  font-size: 18px;
}

.footer .got-after {
  border-inline: 2px solid var(--white);
}

.newsletter-title {
  color: var(--white);
  font-size: var(--fs-3);
  font-weight: var(--fw-600);
  line-height: 1.3;
}

.newsletter-text {
  font-size: var(--fs-7);
  line-height: 2;
  margin-block: 10px 35px;
}

.newsletter-form {
  position: relative;
}

.email-field {
  background-color: var(--white);
  font-size: var(--fs-7);
  padding: 12px 18px;
  padding-inline-end: 145px;
  border: 1px solid var(--black);
  border-radius: var(--radius-3);
  outline: none;
  transition: var(--transition-1);
}

.email-field::placeholder {
  color: var(--black_70);
  transition: var(--transition-1);
}

.email-field:focus::placeholder {
  opacity: 0;
}

.newsletter-form .btn {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 1px;
}

.copyright {
  font-style: var(--fs-7);
}

.footer-bottom .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-block-end: 20px;
}

.social-list {
  display: flex;
  gap: 20px;
}

.social-link {
  color: var(--white);
  font-size: 20px;
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus) {
  color: var(--white_30);
}

.footer-bottom>img {
  max-width: max-content;
}

/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/


.back-top-btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  background-color: var(--white);
  color: var(--black);
  font-size: 22px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: var(--shadow-1);
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-1);
}

.back-top-btn:is(:hover, :focus) {
  background-color: var(--black);
  color: var(--white);
}

.back-top-btn.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px);
}


/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/* Screen > 575px */
@media (min-width: 400px) {

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  .header-top .container {
    max-width: unset;
  }

  .has-scrollbar {
    gap: 30px;
  }

  .scrollbar-item {
    min-width: calc(50% - 5px);
  }

  .landing .scrollbar-item {
    min-width: 100%;
  }

  /* HEADER */

  .alert {
    padding-block: 8px;
  }

  .header-top .container {
    padding-inline: 30px;
  }

  /* LANDING */
  .landing-text {
    max-width: 30ch;
  }


  /* COLLECTION */

  .collection-card .card-text {
    max-width: 25ch;
  }

  /* BANNER */
  .banner-card .h2 {
    max-width: 20ch;
  }

  .banner-card .card-text {
    max-width: 30ch;
  }


  /* OFFER */

  .offer .countdown {
    --fs-2: 4.8rem;
  }

  .offer .countdown .time:not(:last-child)::before {
    margin-inline: 20px;
  }

}

@media (min-width: 500px) {

  /* FEATURES */
  .features .grid-list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
  }

  .features .grid-item:nth-of-type(3) {
    grid-column: 1 / 3;
  }
}


/* Screen > 768px */

@media (min-width: 768px) {

  :root {
    --fs-1: 5.6rem;
  }

  .container {
    max-width: 730px;
  }

  .blog .grid-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-item:nth-of-type(3) {
    grid-column: 1 / 3;
    margin-inline: auto;
  }

  /* COLLECTION */

  .collection-card {
    min-height: 450px;
  }

  /* BANNER */

  .banner-list {
    grid-template-columns: 1fr 0.7fr;
  }

  .banner-card {
    padding: 45px;
  }

  /* OFFER */

  .offer .section-text {
    max-width: 45ch;
  }

  /* FOOTER */

  .footer-top {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-list:last-child {
    grid-column: 1 / 4;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-bottom .wrapper {
    margin-block-end: 0;
  }

}

/* Screen > 992px */

@media (min-width: 992px) {


  :root {
    --section-padding: 50px;
  }

  .container {
    max-width: 960px;
  }

  .scrollbar-item {
    min-width: calc(33.33% - 20px);
  }

  .landing .scrollbar-item {
    min-width: 100%;
  }

  .features .grid-list {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
  }

  .features .grid-item:nth-of-type(3) {
    grid-column: auto;
  }

  .blog .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-item:nth-of-type(3) {
    grid-column: auto;
    margin-inline: auto;
  }

  .collection-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  /* BANNER */

  .banner-list {
    grid-template-columns: 1fr 0.5fr;
  }

  /* OFFER */

  .offer .container {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    align-items: center;
    gap: 30px;
  }

  .offer-banner {
    margin-block-end: 0;
  }

  /* FOOTER */

  .footer .logo {
    display: block;
    box-shadow: 0 0px 4px hsla(0, 0%, 100%, 0.25);
  }


  .footer {
    padding-block: 100px 40px;
  }

  .footer-top {
    grid-template-columns: 1fr 0.4fr 0.4fr 0.4fr;
    margin-block-end: 120px;
  }

  .footer-list:last-child {
    grid-row: 1;
    grid-column: 1;
  }

  .footer .logo img {
    width: 80px;
  }

}

/* Screen > 1200px */

@media (min-width: 1200px) {

  .container {
    max-width: 1300px;
  }

  .scrollbar-item {
    min-width: calc(20% - 24px);
  }

  /* HEADER */

  .header .input-wrapper,
  .header-action-btn:not(:first-child),
  .navbar {
    display: block;
  }

  .nav-open-btn {
    display: none;
  }

  .header {
    padding-block-end: 60px;
  }

  .header-top {
    position: unset;
    padding-block: 24px 0;
  }

  .header-top:is(.active, .header-hide) {
    all: unset;
  }

  .header-top .container {
    flex-wrap: wrap;
  }

  .search-field {
    width: 270;
    font-style: var(--fs-7);
    border: 2px solid var(--spanish-gray);
    border-radius: var(--radius-3);
    padding: 10px 20px;
    padding-inline-end: 40px;
    outline: none;
    transition: var(--transition-1);
  }

  .search-field::placeholder {
    color: var(--black_70);
    transition: var(--transition-1);
  }

  .search-field:focus::placeholder {
    opacity: 0;
  }

  .search-field:focus{
    border-color: var(--black);
  }

  .header .input-wrapper {position: relative;}

  .header .search-submit {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 22px;
  }

  .header .search-submit ion-icon{
    --ionicon-stroke-width: 40px;
    
  }
  .header .logo{
    margin-inline-start: 55px;
  }
  .header-actions{
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-action-btn {position: relative;}

  .header-action-btn .btn-badge{
    position: absolute;
    top: 0;
    right: -10px;
    background-color: var(--black);
    color: var(--white);
    font-size: var(--fs-9);
    min-width: 18px;
    height: 18px;
    border-radius: 50%;
    padding: 1px;
  }

  .header-action-btn:last-child{
    display: flex;
    align-items: center;
  }

  .navbar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    padding-block: 18px;
    z-index: 4;
  }
  .navbar .navbar-list{
    display: flex;
    justify-content: center;
    gap: 45px;
  }

  .navbar .navbar-link{
    color: var(--black);
    font-style: var(--fs-7);
    font-weight: var(--fw-600);
  }

  .navbar .navbar-link::after{
    bottom: -5px;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: var(--black);
    transition: var(--transition-1);
    transform: scaleX(0);
    transform-origin: right;
  }

  .navbar .navbar-link:is(:hover, :focus)::after{
    transform: scaleX(1);
  }

  .header-top.active .navbar{
    position: fixed;
  top: -82px;
  bottom: auto;
  padding: 28px;
  box-shadow: var(--shadow-1);
  transform: translateY(100%);
  transition: var(--transition-2);
  }

  .header-top.header-hide .navbar{
    box-shadow: none;
    transform: translateY(0);
  }

  .landing-card{padding: 120px 100px;}

  .landing-text{max-width: 40ch;}

  .banner-card-1 .card-title{max-width: 15ch;}

  .feature-card i{font-size: 100px;}
  .feature .section-title{margin-block-end: 60px;}

  .features .grid-list{
    padding-inline: 80px;}


    .offer .container{
      padding-inline: 50px;
    }
}